# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.slo
*.lo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Build Artifacts
Makeconf
Makefile
Makefrag.cc
Makefrag.cc_lo
Makefrag.cxx
Makefrag.m
bin/
config.log
config.status
doc/Makefile
doc/NEWS.rds
doc/R.1
doc/html/Makefile
doc/html/index.html
doc/html/packages.html
doc/manual/Makefile
doc/manual/R-FAQ.html
doc/manual/R-admin.html
doc/manual/R-data.html
doc/manual/R-exts.html
doc/manual/R-intro.html
doc/manual/R-ints.html
doc/manual/R-lang.html
doc/manual/stamp-images-html
doc/manual/version.texi
etc/Makeconf
etc/Makefile
etc/Renviron
etc/javaconf
etc/ldpaths
include/
library/
libtool
m4/Makefile
po/Makefile
share/Makefile
src/Makefile
src/appl/Makedeps
src/appl/Makefile
src/extra/Makefile
src/extra/blas/Makefile
src/extra/intl/Makefile
src/extra/tre/Makedeps
src/extra/tre/Makefile
src/extra/tzone/Makefile
src/extra/xdr/Makefile
src/include/Makefile
src/include/R.ts
src/include/R_ext/Applic.ts
src/include/R_ext/Arith.ts
src/include/R_ext/BLAS.ts
src/include/R_ext/Boolean.ts
src/include/R_ext/Callbacks.ts
src/include/R_ext/Complex.ts
src/include/R_ext/Connections.ts
src/include/R_ext/Constants.ts
src/include/R_ext/Error.ts
src/include/R_ext/GetX11Image.ts
src/include/R_ext/GraphicsDevice.ts
src/include/R_ext/GraphicsEngine.ts
src/include/R_ext/Itermacros.ts
src/include/R_ext/Lapack.ts
src/include/R_ext/Linpack.ts
src/include/R_ext/Makefile
src/include/R_ext/MathThreads.ts
src/include/R_ext/Memory.ts
src/include/R_ext/Parse.ts
src/include/R_ext/Print.ts
src/include/R_ext/PrtUtil.ts
src/include/R_ext/QuartzDevice.ts
src/include/R_ext/R-ftp-http.ts
src/include/R_ext/RS.ts
src/include/R_ext/RStartup.ts
src/include/R_ext/Rallocators.ts
src/include/R_ext/Random.ts
src/include/R_ext/Rdynload.ts
src/include/R_ext/Riconv.ts
src/include/R_ext/Utils.ts
src/include/R_ext/Visibility.ts
src/include/R_ext/eventloop.ts
src/include/R_ext/libextern.ts
src/include/R_ext/stamp-R
src/include/R_ext/stats_package.ts
src/include/R_ext/stats_stubs.ts
src/include/Rconfig.h
src/include/Rconfig.tsa
src/include/Rdefines.ts
src/include/Rembedded.ts
src/include/Rinterface.ts
src/include/Rinternals.ts
src/include/Rmath.h
src/include/Rmath.h0
src/include/Rmath.tsa
src/include/Rversion.h
src/include/Rversion.tsa
src/include/S.ts
src/include/config.h
src/include/stamp-R
src/include/stamp-h
src/library/Makefile
src/library/Recommended/KernSmooth.ts
src/library/Recommended/MASS.ts
src/library/Recommended/Makefile
src/library/Recommended/Matrix.ts
src/library/Recommended/boot.ts
src/library/Recommended/class.ts
src/library/Recommended/cluster.ts
src/library/Recommended/codetools.ts
src/library/Recommended/foreign.ts
src/library/Recommended/lattice.ts
src/library/Recommended/mgcv.ts
src/library/Recommended/nlme.ts
src/library/Recommended/nnet.ts
src/library/Recommended/rpart.ts
src/library/Recommended/spatial.ts
src/library/Recommended/stamp-recommended
src/library/Recommended/survival.ts
src/library/base.inn
src/library/base/DESCRIPTION
src/library/base/Makefile
src/library/base/all.R
src/library/compiler.inn
src/library/compiler/DESCRIPTION
src/library/compiler/Makefile
src/library/compiler/all.R
src/library/datasets.inn
src/library/datasets/DESCRIPTION
src/library/datasets/Makefile
src/library/grDevices.inn
src/library/grDevices/DESCRIPTION
src/library/grDevices/Makefile
src/library/grDevices/all.R
src/library/grDevices/src/Makedeps
src/library/grDevices/src/Makefile
src/library/grDevices/src/cairo/Makedeps
src/library/grDevices/src/cairo/Makefile
src/library/graphics.inn
src/library/graphics/DESCRIPTION
src/library/graphics/Makefile
src/library/graphics/all.R
src/library/graphics/src/Makedeps
src/library/graphics/src/Makefile
src/library/grid.inn
src/library/grid/DESCRIPTION
src/library/grid/Makefile
src/library/grid/all.R
src/library/grid/src/Makedeps
src/library/grid/src/Makefile
src/library/methods.inn
src/library/methods/DESCRIPTION
src/library/methods/Makefile
src/library/methods/all.R
src/library/methods/src/Makedeps
src/library/methods/src/Makefile
src/library/parallel.inn
src/library/parallel/DESCRIPTION
src/library/parallel/Makefile
src/library/parallel/all.R
src/library/parallel/src/Makedeps
src/library/parallel/src/Makefile
src/library/profile/Makefile
src/library/splines.inn
src/library/splines/DESCRIPTION
src/library/splines/Makefile
src/library/splines/all.R
src/library/splines/src/Makedeps
src/library/splines/src/Makefile
src/library/stamp-docs
src/library/stats.inn
src/library/stats/DESCRIPTION
src/library/stats/Makefile
src/library/stats/all.R
src/library/stats/src/Makedeps
src/library/stats/src/Makefile
src/library/stats4.inn
src/library/stats4/DESCRIPTION
src/library/stats4/Makefile
src/library/stats4/all.R
src/library/tcltk.inn
src/library/tcltk/DESCRIPTION
src/library/tcltk/Makefile
src/library/tcltk/src/Makefile
src/library/tools.inn
src/library/tools/DESCRIPTION
src/library/tools/Makefile
src/library/tools/all.R
src/library/tools/src/Makedeps
src/library/tools/src/Makefile
src/library/translations/DESCRIPTION
src/library/translations/Makefile
src/library/utils.inn
src/library/utils/DESCRIPTION
src/library/utils/Makefile
src/library/utils/all.R
src/library/utils/src/Makedeps
src/library/utils/src/Makefile
src/main/Makedeps
src/main/Makefile
src/main/R.bin
src/modules/Makefile
src/modules/X11/Makedeps
src/modules/X11/Makefile
src/modules/internet/Makedeps
src/modules/internet/Makefile
src/modules/lapack/Makedeps
src/modules/lapack/Makefile
src/nmath/Makedeps
src/nmath/Makefile
src/nmath/standalone/Makefile
src/scripts/Makefile
src/scripts/R.fe
src/scripts/R.sh
src/scripts/Rcmd
src/scripts/f77_f2c
src/scripts/javareconf
src/scripts/mkinstalldirs
src/scripts/pager
src/scripts/rtags
src/unix/Makedeps
src/unix/Makefile
src/unix/Rscript
stamp-java
tests/Embedding/Makefile
tests/Examples/Makefile
tests/Examples/base-Ex.R-cnt
tests/Examples/base-Ex.Rout
tests/Examples/base-Ex.pdf
tests/Examples/compiler-Ex.R-cnt
tests/Examples/compiler-Ex.Rout
tests/Examples/compiler-Ex.pdf
tests/Examples/datasets-Ex.R-cnt
tests/Examples/datasets-Ex.Rout
tests/Examples/datasets-Ex.pdf
tests/Examples/example-1_def.R
tests/Examples/example-1_myA-noF.R
tests/Examples/example-1_myA.R
tests/Examples/grDevices-Ex.R-cnt
tests/Examples/grDevices-Ex.Rout
tests/Examples/grDevices-Ex.pdf
tests/Examples/graphics-Ex.R-cnt
tests/Examples/graphics-Ex.Rout
tests/Examples/graphics-Ex.pdf
tests/Examples/grid-Ex.R-cnt
tests/Examples/grid-Ex.Rout
tests/Examples/grid-Ex.pdf
tests/Examples/methods-Ex.R-cnt
tests/Examples/methods-Ex.Rout
tests/Examples/methods-Ex.pdf
tests/Examples/parallel-Ex.R-cnt
tests/Examples/parallel-Ex.Rout
tests/Examples/parallel-Ex.pdf
tests/Examples/splines-Ex.R-cnt
tests/Examples/splines-Ex.Rout
tests/Examples/splines-Ex.pdf
tests/Examples/stats-Ex.R-cnt
tests/Examples/stats-Ex.Rout
tests/Examples/stats-Ex.pdf
tests/Examples/stats4-Ex.Rout
tests/Examples/stats4-Ex.pdf
tests/Examples/tcltk-Ex.R-cnt
tests/Examples/tcltk-Ex.Rout
tests/Examples/tcltk-Ex.pdf
tests/Examples/tools-Ex.R-cnt
tests/Examples/tools-Ex.Rout
tests/Examples/tools-Ex.pdf
tests/Examples/utils-Ex.R-cnt
tests/Examples/utils-Ex.Rout
tests/Examples/utils-Ex.pdf
tests/Makefile
tests/Rplots.pdf
tests/any-all.Rout
tests/arith-true.Rout
tests/arith.Rout
tests/array-subset.Rout
tests/complex.Rout
tests/d-p-q-r-tests.Rout
tests/datasets.Rout
tests/datetime.Rout
tests/eval-etc.Rout
tests/ex.gz
tests/exNSS4_1.1.tar.gz
tests/iec60559.Rout
tests/internet.Rout
tests/lapack.Rout
tests/lm-tests.Rout
tests/method-dispatch.Rout
tests/myTst2/
tests/ok-errors.Rout
tests/p-qbeta-strict-tst.Rout
tests/p-qbeta-strict-tst.pdf
tests/pkgA_1.2.tar.gz
tests/pkgB_1.0.tar.gz
tests/print-tests.Rout
tests/r-strict-tst.Rout
tests/reg-BLAS.Rout
tests/reg-IO.Rout
tests/reg-IO2.Rout
tests/reg-S4-examples.Rout
tests/reg-S4.Rout
tests/reg-examples-1.pdf
tests/reg-examples-2.pdf
tests/reg-examples-3.pdf
tests/reg-examples1.Rout
tests/reg-examples2.Rout
tests/reg-examples3.Rout
tests/reg-packages.Rout
tests/reg-plot-latin1.Rout
tests/reg-plot-latin1.pdf
tests/reg-plot.Rout
tests/reg-plot.pdf
tests/reg-tests-1a.Rout
tests/reg-tests-1a.pdf
tests/reg-tests-1b.Rout
tests/reg-tests-1b.pdf
tests/reg-tests-1c.Rout
tests/reg-tests-1c.pdf
tests/reg-tests-1d.Rout
tests/reg-tests-1d.pdf
tests/reg-tests-2.Rout
tests/reg-tests-2.pdf
tests/reg-tests-3.Rout
tests/reg-tests-3.pdf
tests/simple-true.Rout
tools/Makefile
